.header__container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15px 0px 15px;
}

@media (max-width: 1200px) {
  .header__container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .header__container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .header__container {
    max-width: 578px;
  }
}

@media (max-width: 576px) {
  .header__container {
    max-width: none;
  }
}

.header__logo {
  padding-top: 48px;
}

.header__menu {
  padding-top: 56px;
}

.header__menu button {
  border: 3px solid transparent;
  border-radius: 5px;
  background-color: transparent;
}

.header__menu button:hover {
  cursor: pointer;
  border: 3px solid #356EAD;
  border-radius: 5px;
  background-color: transparent;
}
