.whatWeDo {
    &__container { 
        max-width: 982px;
        margin: 0 auto;
        padding: 192px 15px 0px 15px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1200px) {
            max-width: 970px;
            padding: 120px 15px 0px 15px;

        }
        @media (max-width: 992px) {
            max-width: 750px;
        }
        @media (max-width: 768px) {
            max-width: 578px;
            padding: 80px 15px 0px 15px;
            flex-direction: column;
            justify-content: space-between;
            
   
        }
        @media (max-width: 576px) {
            max-width: none;
        }
    }

    &__title {
        min-width: 350px;
        font-family: 'Gilroy-Regular';
        font-size: 36px;
        font-weight: 600;
        color: #316099;
        letter-spacing: 5%;
        span {
            display: block;
        }
        @media (max-width: 1200px) {
            font-size: 36px;
        }
        @media (max-width: 992px) {
            font-size: 28px;
        }
        @media (max-width: 768px) {
            font-size: 24px;
            text-align: center;
        }
        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    &__box {
        @media (max-width: 1200px) {
            font-size: 40px;
        }
        @media (max-width: 992px) {
            margin-right: 40px;
        }
        @media (max-width: 768px) {
            font-size: 24px;
            margin-right: 0px;
        }
        @media (max-width: 576px) {
            font-size: 24px;
            margin-right: 0px;
        }
    }


    &__item1 {
        border: 2px solid red;
        margin: 0px 85px 100px 0px;
        padding: 48px;
        border: 2px solid transparent;
        border-radius: 10px;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        @media (max-width: 768px) {
            margin: 25px 0px 45px 0px;
        }
        @media (max-width: 576px) {
         
        }
         
    }
    &__item2 {
        border: 2px solid red;
        margin-bottom: 20px;
        margin: 158px 0px 0px 90px;
        padding: 48px;
        border: 2px solid transparent;
        border-radius: 10px;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        @media (max-width: 768px) {
            margin: 25px 0px 25px 0px;
        }
        @media (max-width: 576px) {
         
        }     
    }
    &__item3 {
        border: 2px solid red;
        margin: 0px 85px 190px 0px;
        padding: 48px;
        border: 2px solid transparent;
        border-radius: 10px;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        @media (max-width: 768px) {
            margin: 25px 0px 100px 0px;
        }
        @media (max-width: 576px) {
         
        }
         
    }

    &__item-img {
        margin-bottom: 55px;
        text-align: center;
        img {
            max-width: 100%;
        }
    }

    &__item-title {
        font-family: 'Gilroy-Regular';
        font-size: 20px;
        font-weight: 600;
        color: #1F3F68;
        margin-bottom: 15px;
        letter-spacing: 5%;
        text-align: left;
        span {
            display: block;
        }
        @media (max-width: 1200px) {
            font-size: 20px;
        }
        @media (max-width: 992px) {
            font-size: 12px;
        }
        @media (max-width: 768px) {
            font-size: 20px;
            text-align: center;
        }
        @media (max-width: 576px) {
            font-size: 18px;
            text-align: center;
        }
    }

    &__item-text {
        font-family: 'Gilroy-Regular';
        font-size: 16px;
        font-weight: 400;
        color: #1F3F68;
        margin-bottom: 32px;
        letter-spacing: 5%;
        text-align: left;
        span {
            display: block;
        }
        @media (max-width: 1200px) {
            font-size: 12px;
        }
        @media (max-width: 992px) {
            font-size: 8px;
        }
        @media (max-width: 768px) {
            font-size: 16px;
            text-align: center;
        }
        @media (max-width: 576px) {
            font-size: 14px;
            text-align: center;
        }
    }

    &__item-button {
        text-align: left;
        button {
            font-family: 'Gilroy-Regular';
            font-size: 14px;
            font-weight: 600;
            color: #5A98D0;
            border: none;
            background-color: transparent;
            margin-left: -5px;
            
        }

        &::after{
            content: "\f061";
            font-family: FontAwesome;
            font-size: 14px;
            font-style: normal;
            font-weight: 200;
            color: #5A98D0;
            display: inline-block;
            padding-left: 28px;
        }

        &:hover::after {
            cursor: pointer;
        }


        button:hover {
            cursor: pointer;
        }
        @media (max-width: 768px) {
            
            text-align: center;
        }
        @media (max-width: 576px) {
             
            text-align: center;
        }
    }
}


