.auth {
    &__container {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
        
    }

    &__error {
        font-family: 'Gilroy-Regular';
        color: red;
        font-size: 24px;
        font-weight: 700;
         
    }

    &__register-box {
        border: 2px solid #316099;
        border-radius: 15px;
        background-color: #fff;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    &__title {
        font-family: 'Gilroy-Regular';
    }

    &__email {
        margin-bottom: 10px;
        border: 2px solid #5A98D0;
        border-radius: 5px;
    }
    &__password {
        margin-bottom: 10px;
        border: 2px solid #5A98D0;
        border-radius: 5px;
    }

    &__login-box {
        border: 2px solid #316099;
        border-radius: 15px;
        background-color: #fff;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    &__emailSuccess {
        color: rgb(11, 179, 11);
        margin-bottom: 10px;
    }
    
    &__buttonSuccess {
        margin-bottom: 15px;
        button:hover {
            background-color: rgb(11, 179, 11);
            transition: 0.6s;
        }
    }
    
    &__buttonOut {
        button:hover {
            background-color: rgb(228, 32, 32);
            transition: 0.3s;
        }
    }

}